# 컴피티션 링크
- https://www.kaggle.com/t/2e45abe9f1434b59a3358365432a48bb

# 고객별 백화점 구매기록 데이터셋
- 미혼(1) or 기혼(0) 고객을 예측
- 학습용 구매기록 데이터
    - https://drive.google.com/file/d/1tg41qXu02FK55bFa8P1Gx2URhwPUCoQQ/view?usp=sharing
- 학습용 정답 데이터
    - https://drive.google.com/file/d/1-9AcU9nAoO4SzSmqdCOYTvWNpA5Pdt3q/view?usp=sharing
- 테스트용 구매기록 데이터
    - https://drive.google.com/file/d/1-AwDfGlHm9rNtpnHIWOK96jBJYy3f2SZ/view?usp=sharing
- 제출 양식 데이터
    - https://drive.google.com/file/d/1-Qv7SlsY5Eu3bRR7Z0IUJyLkOO1Fl3y6/view?usp=sharing

In [131]:
# from google.colab import drive
# drive.mount('/content/drive')

- 데이터 경로 변수

In [132]:
# DATA_PATH = "/content/drive/MyDrive/파이널프로젝트/data/"
# DATA_PATH

In [133]:
DATA_PATH = "data/"
DATA_PATH

'data/'

- 데이터 불러오기

In [134]:
import pandas as pd
import numpy as np

train_tr = pd.read_csv(f"{DATA_PATH}store_train_transactions.csv") # 학습용 구매기록 데이터
train_target = pd.read_csv(f"{DATA_PATH}store_train.csv") # 학습용 정답 데이터
test_tr = pd.read_csv(f"{DATA_PATH}store_test_transactions.csv") # 테스트용 구매기록 데이터
submit = pd.read_csv(f"{DATA_PATH}store_submission.csv") # 제출 양식 데이터

train_tr.shape , train_target.shape , test_tr.shape , submit.shape

((523105, 7), (14940, 2), (441196, 7), (12225, 2))

In [135]:
from IPython.display import display, HTML
br_html = HTML("<br><br>")
display(HTML("<h1>학습용 구매기록 데이터</h1>"), train_tr.head(), br_html)
display(HTML("<h1>학습용 정답 데이터</h1>"), train_target.head(), br_html)
display(HTML("<h1>테스트용 구매기록 데이터</h1>"), test_tr.head(), br_html)
display(HTML("<h1>제출 양식 데이터</h1>"), submit.head(), br_html)

            ID                 구매일시     지점코드     대분류      중분류  브랜드코드    구매가격
0  train_13219  2004-05-01 09:40:00  A144000   공산품파트       차류   5100   59700
1   train_5590  2004-05-01 09:40:00  A144000    잡화파트     화장잡화   5101   17000
2   train_7200  2004-05-01 10:20:00  A112000     공산품     용기보증   5100   34937
3   train_3010  2004-05-01 10:30:00  A373000  아동_스포츠      아동복   5105   19000
4  train_10851  2004-05-01 10:30:00  A112000    가정용품  전화기_카세트   5110  215000

        ID  target
0  train_0     1.0
1  train_1     1.0
2  train_2     0.0
3  train_3     0.0
4  train_4     0.0

          ID                 구매일시     지점코드   대분류      중분류  브랜드코드    구매가격
0  test_3366  2004-05-01 10:20:00  A373000   생식품      건식품   5100    7000
1  test_9389  2004-05-01 10:23:00  A373000  명품잡화      스타킹   5104   46000
2  test_8190  2004-05-01 10:30:00  A144000  잡화파트  수입종합화장품   5106  260000
3  test_8835  2004-05-01 10:30:00  A144000  잡화파트      준보석   5107   17000
4  test_1167  2004-05-01 10:30:00  A373000  남성의류       셔츠   5108  138000

       ID  target
0  test_0     0.5
1  test_1     0.5
2  test_2     0.5
3  test_3     0.5
4  test_4     0.5

In [136]:
display(HTML("<h1>학습용 구매기록 데이터</h1>"))
display(train_tr.info(), br_html)

display(HTML("<h1>학습용 정답 데이터</h1>"))
display(train_target.info(), br_html)

display(HTML("<h1>테스트용 구매기록 데이터</h1>"))
display(test_tr.info(), br_html)

display(HTML("<h1>제출 양식 데이터</h1>"))
display(submit.info(), br_html)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523105 entries, 0 to 523104
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      523105 non-null  object
 1   구매일시    523105 non-null  object
 2   지점코드    523105 non-null  object
 3   대분류     523105 non-null  object
 4   중분류     523105 non-null  object
 5   브랜드코드   523105 non-null  int64
 6   구매가격    523105 non-null  int64
dtypes: int64(2), object(5)
memory usage: 27.9+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14940 entries, 0 to 14939
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      14940 non-null  object
 1   target  14940 non-null  float64
dtypes: float64(1), object(1)
memory usage: 233.6+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441196 entries, 0 to 441195
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      441196 non-null  object
 1   구매일시    441196 non-null  object
 2   지점코드    441196 non-null  object
 3   대분류     441196 non-null  object
 4   중분류     441196 non-null  object
 5   브랜드코드   441196 non-null  int64
 6   구매가격    441196 non-null  int64
dtypes: int64(2), object(5)
memory usage: 23.6+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12225 entries, 0 to 12224
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      12225 non-null  object
 1   target  12225 non-null  float64
dtypes: float64(1), object(1)
memory usage: 191.1+ KB

None

In [137]:
train_tr.describe()

               브랜드코드          구매가격
count  523105.000000  5.231050e+05
mean     5391.568913  9.873469e+04
std       380.975185  3.134026e+05
min      5100.000000 -3.082000e+07
25%      5111.000000  2.252000e+04
50%      5237.000000  5.200000e+04
75%      5522.000000  1.197000e+05
max      6996.000000  3.082000e+07

# 특성 공학(Feature Engineering)

## 날짜 형식으로 변환

In [138]:
train_tr["구매일시"] = pd.to_datetime(train_tr["구매일시"])
test_tr["구매일시"] = pd.to_datetime(test_tr["구매일시"])

## 날짜, 시간 컬럼 분할

In [139]:
train_tr["구매날짜"] = train_tr["구매일시"].dt.date
test_tr["구매날짜"] = test_tr["구매일시"].dt.date

train_tr["구매시각"] = train_tr["구매일시"].dt.time
test_tr["구매시각"] = test_tr["구매일시"].dt.time

train_tr = train_tr.drop(columns=["구매일시"])
test_tr = test_tr.drop(columns=["구매일시"])

train_tr["구매날짜"] = pd.to_datetime(train_tr["구매날짜"], errors="coerce")
test_tr["구매날짜"] = pd.to_datetime(test_tr["구매날짜"], errors="coerce")

train_tr.shape, test_tr.shape

((523105, 8), (441196, 8))

## 새로 만든 feature와 병합할 고객ID로만 이루어진 데이터프레임 생성

In [140]:
train_ft = train_target[["ID"]]
test_ft = submit[["ID"]]

train_ft.shape, test_ft.shape

((14940, 1), (12225, 1))

## 구매날짜를 이용한 특성생성

In [141]:
# 내점일수 -> 총방문일수
# 주말방문비율 -> 주말방문일수
# 계절별 구매비율 제거 및 월별, 요일별 구매비율 추가
# 월별, 연도별평균구매건수 및 연도별 구매비율 추가
agg_list = [
    ("총방문일수", "nunique"),
    ("주말방문일수", lambda x: x[x.dt.weekday > 4].nunique()),
    ("구매주기", lambda x: int((x.max() - x.min()).days / x.dt.date.nunique())),
    ("일별평균구매건수", lambda x: x.count() / x.dt.date.nunique()),
    ("주구매요일", lambda x: x.dt.weekday.mode()[0]),
    ("월요일_구매비율", lambda x: np.mean(x.dt.weekday == 0)),
    ("화요일_구매비율", lambda x: np.mean(x.dt.weekday == 1)),
    ("수요일_구매비율", lambda x: np.mean(x.dt.weekday == 2)),
    ("목요일_구매비율", lambda x: np.mean(x.dt.weekday == 3)),
    ("금요일_구매비율", lambda x: np.mean(x.dt.weekday == 4)),
    ("토요일_구매비율", lambda x: np.mean(x.dt.weekday == 5)),
    ("일요일_구매비율", lambda x: np.mean(x.dt.weekday == 6)),
    ("1월_구매비율", lambda x: np.mean(x.dt.month == 1)),
    ("2월_구매비율", lambda x: np.mean(x.dt.month == 2)),
    ("3월_구매비율", lambda x: np.mean(x.dt.month == 3)),
    ("4월_구매비율", lambda x: np.mean(x.dt.month == 4)),
    ("5월_구매비율", lambda x: np.mean(x.dt.month == 5)),
    ("6월_구매비율", lambda x: np.mean(x.dt.month == 6)),
    ("7월_구매비율", lambda x: np.mean(x.dt.month == 7)),
    ("8월_구매비율", lambda x: np.mean(x.dt.month == 8)),
    ("9월_구매비율", lambda x: np.mean(x.dt.month == 9)),
    ("10월_구매비율", lambda x: np.mean(x.dt.month == 10)),
    ("11월_구매비율", lambda x: np.mean(x.dt.month == 11)),
    ("12월_구매비율", lambda x: np.mean(x.dt.month == 12)),
    ("거래개월수", lambda x: x.dt.date.astype(str).str[:-3].nunique()),
    ("월별평균구매건수", lambda x: x.count() / x.dt.month.nunique()),    
    ("2004년_구매비율", lambda x: np.mean(x.dt.year == 2004)),
    ("2005년_구매비율", lambda x: np.mean(x.dt.year == 2005)),
    ("연도별평균구매건수", lambda x: x.count() / x.dt.year.nunique()),
]

tmp = train_tr.groupby("ID")["구매날짜"].agg(agg_list).reset_index()
train_ft = train_ft.merge(tmp, how="left", on="ID")
train_ft.head()

,ID,총방문일수,주말방문일수,구매주기,일별평균구매건수,주구매요일,월요일_구매비율,화요일_구매비율,수요일_구매비율,목요일_구매비율,...,8월_구매비율,9월_구매비율,10월_구매비율,11월_구매비율,12월_구매비율,거래개월수,월별평균구매건수,2004년_구매비율,2005년_구매비율,연도별평균구매건수
0,train_0,11,3,23,1.818182,3,0.050000,0.100000,0.250000,0.300000,...,0.000000,0.200000,0.000000,0.200000,0.250000,7,2.857143,0.950000,0.050000,10.0
1,train_1,21,1,16,2.000000,3,0.047619,0.261905,0.214286,0.333333,...,0.119048,0.238095,0.047619,0.071429,0.071429,11,3.818182,0.761905,0.238095,21.0
2,train_2,56,11,6,2.035714,0,0.254386,0.201754,0.131579,0.131579,...,0.026316,0.078947,0.043860,0.052632,0.026316,12,9.500000,0.508772,0.491228,57.0
3,train_3,92,19,3,2.293478,3,0.104265,0.104265,0.161137,0.222749,...,0.014218,0.075829,0.066351,0.094787,0.071090,12,17.583333,0.568720,0.431280,105.5
4,train_4,27,6,11,2.296296,4,0.096774,0.112903,0.096774,0.048387,...,0.129032,0.145161,0.048387,0.016129,0.000000,10,6.200000,0.903226,0.096774,31.0

In [142]:
tmp = test_tr.groupby("ID")["구매날짜"].agg(agg_list).reset_index()
test_ft = test_ft.merge(tmp, how="left", on="ID")
test_ft.head()

,ID,총방문일수,주말방문일수,구매주기,일별평균구매건수,주구매요일,월요일_구매비율,화요일_구매비율,수요일_구매비율,목요일_구매비율,...,8월_구매비율,9월_구매비율,10월_구매비율,11월_구매비율,12월_구매비율,거래개월수,월별평균구매건수,2004년_구매비율,2005년_구매비율,연도별평균구매건수
0,test_0,5,3,32,1.400000,1,0.142857,0.285714,0.00000,0.00000,...,0.0000,0.00000,0.428571,0.0,0.00000,4,1.750000,1.000000,0.000000,7.0
1,test_1,3,1,55,1.333333,0,0.500000,0.000000,0.25000,0.00000,...,0.0000,0.25000,0.500000,0.0,0.00000,3,1.333333,0.750000,0.250000,2.0
2,test_2,2,0,8,2.500000,0,0.600000,0.000000,0.00000,0.40000,...,0.6000,0.40000,0.000000,0.0,0.00000,2,2.500000,1.000000,0.000000,5.0
3,test_3,16,1,16,2.000000,3,0.062500,0.062500,0.03125,0.53125,...,0.1875,0.09375,0.250000,0.0,0.09375,7,4.571429,0.906250,0.093750,16.0
4,test_4,9,5,29,2.333333,6,0.047619,0.238095,0.00000,0.00000,...,0.0000,0.00000,0.238095,0.0,0.00000,4,5.250000,0.904762,0.095238,10.5

In [143]:
train_ft.to_csv(f"{DATA_PATH}train_tmp.csv",index=False)
test_ft.to_csv(f"{DATA_PATH}test_tmp.csv",index=False)

## 구매시각을 이용한 특성생성

In [144]:
train_ft = pd.read_csv(f"{DATA_PATH}train_tmp.csv")
test_ft = pd.read_csv(f"{DATA_PATH}test_tmp.csv")

In [145]:
# 18시 이전, 이후 구매비율 추가
agg_list = [
    ("18시이전_구매비율", lambda x: (x.astype(str).str[:2].astype(int) < 18).mean()),
    ("18시이후_구매비율", lambda x: (x.astype(str).str[:2].astype(int) >= 18).mean())
]

tmp = train_tr.groupby("ID")["구매시각"].agg(agg_list).reset_index()
train_ft = train_ft.merge(tmp, how="left", on="ID")
train_ft.head()

,ID,총방문일수,주말방문일수,구매주기,일별평균구매건수,주구매요일,월요일_구매비율,화요일_구매비율,수요일_구매비율,목요일_구매비율,...,10월_구매비율,11월_구매비율,12월_구매비율,거래개월수,월별평균구매건수,2004년_구매비율,2005년_구매비율,연도별평균구매건수,18시이전_구매비율,18시이후_구매비율
0,train_0,11,3,23,1.818182,3,0.050000,0.100000,0.250000,0.300000,...,0.000000,0.200000,0.250000,7,2.857143,0.950000,0.050000,10.0,0.750000,0.250000
1,train_1,21,1,16,2.000000,3,0.047619,0.261905,0.214286,0.333333,...,0.047619,0.071429,0.071429,11,3.818182,0.761905,0.238095,21.0,0.690476,0.309524
2,train_2,56,11,6,2.035714,0,0.254386,0.201754,0.131579,0.131579,...,0.043860,0.052632,0.026316,12,9.500000,0.508772,0.491228,57.0,0.850877,0.149123
3,train_3,92,19,3,2.293478,3,0.104265,0.104265,0.161137,0.222749,...,0.066351,0.094787,0.071090,12,17.583333,0.568720,0.431280,105.5,0.777251,0.222749
4,train_4,27,6,11,2.296296,4,0.096774,0.112903,0.096774,0.048387,...,0.048387,0.016129,0.000000,10,6.200000,0.903226,0.096774,31.0,0.838710,0.161290

In [146]:
tmp = test_tr.groupby("ID")["구매시각"].agg(agg_list).reset_index()
test_ft = test_ft.merge(tmp, how="left", on="ID")
test_ft.head()

,ID,총방문일수,주말방문일수,구매주기,일별평균구매건수,주구매요일,월요일_구매비율,화요일_구매비율,수요일_구매비율,목요일_구매비율,...,10월_구매비율,11월_구매비율,12월_구매비율,거래개월수,월별평균구매건수,2004년_구매비율,2005년_구매비율,연도별평균구매건수,18시이전_구매비율,18시이후_구매비율
0,test_0,5,3,32,1.400000,1,0.142857,0.285714,0.00000,0.00000,...,0.428571,0.0,0.00000,4,1.750000,1.000000,0.000000,7.0,1.000000,0.000000
1,test_1,3,1,55,1.333333,0,0.500000,0.000000,0.25000,0.00000,...,0.500000,0.0,0.00000,3,1.333333,0.750000,0.250000,2.0,1.000000,0.000000
2,test_2,2,0,8,2.500000,0,0.600000,0.000000,0.00000,0.40000,...,0.000000,0.0,0.00000,2,2.500000,1.000000,0.000000,5.0,1.000000,0.000000
3,test_3,16,1,16,2.000000,3,0.062500,0.062500,0.03125,0.53125,...,0.250000,0.0,0.09375,7,4.571429,0.906250,0.093750,16.0,0.468750,0.531250
4,test_4,9,5,29,2.333333,6,0.047619,0.238095,0.00000,0.00000,...,0.238095,0.0,0.00000,4,5.250000,0.904762,0.095238,10.5,0.428571,0.571429

In [147]:
train_ft.to_csv(f"{DATA_PATH}train_tmp.csv",index=False)
test_ft.to_csv(f"{DATA_PATH}test_tmp.csv",index=False)

## 지점을 이용한 특성생성

In [148]:
train_ft = pd.read_csv(f"{DATA_PATH}train_tmp.csv")
test_ft = pd.read_csv(f"{DATA_PATH}test_tmp.csv")

In [149]:
# 주구매지점_이용비율 추가
agg_list = [
    ("방문지점수", "nunique"),
    ("주구매지점", lambda x: x.mode()[0]),
    ("주구매지점_이용비율", lambda x: x[x == x.mode()[0]].count() / x.count())
]

tmp = train_tr.groupby("ID")["지점코드"].agg(agg_list).reset_index()
train_ft = train_ft.merge(tmp, how="left", on="ID")
train_ft.head()

,ID,총방문일수,주말방문일수,구매주기,일별평균구매건수,주구매요일,월요일_구매비율,화요일_구매비율,수요일_구매비율,목요일_구매비율,...,거래개월수,월별평균구매건수,2004년_구매비율,2005년_구매비율,연도별평균구매건수,18시이전_구매비율,18시이후_구매비율,방문지점수,주구매지점,주구매지점_이용비율
0,train_0,11,3,23,1.818182,3,0.050000,0.100000,0.250000,0.300000,...,7,2.857143,0.950000,0.050000,10.0,0.750000,0.250000,2,A144000,0.600000
1,train_1,21,1,16,2.000000,3,0.047619,0.261905,0.214286,0.333333,...,11,3.818182,0.761905,0.238095,21.0,0.690476,0.309524,3,A112000,0.738095
2,train_2,56,11,6,2.035714,0,0.254386,0.201754,0.131579,0.131579,...,12,9.500000,0.508772,0.491228,57.0,0.850877,0.149123,2,A373000,0.912281
3,train_3,92,19,3,2.293478,3,0.104265,0.104265,0.161137,0.222749,...,12,17.583333,0.568720,0.431280,105.5,0.777251,0.222749,3,A144000,0.791469
4,train_4,27,6,11,2.296296,4,0.096774,0.112903,0.096774,0.048387,...,10,6.200000,0.903226,0.096774,31.0,0.838710,0.161290,2,A144000,0.741935

In [150]:
tmp = test_tr.groupby('ID')["지점코드"].agg(agg_list).reset_index()
test_ft = test_ft.merge(tmp, how='left',on="ID")
test_ft.head()

,ID,총방문일수,주말방문일수,구매주기,일별평균구매건수,주구매요일,월요일_구매비율,화요일_구매비율,수요일_구매비율,목요일_구매비율,...,거래개월수,월별평균구매건수,2004년_구매비율,2005년_구매비율,연도별평균구매건수,18시이전_구매비율,18시이후_구매비율,방문지점수,주구매지점,주구매지점_이용비율
0,test_0,5,3,32,1.400000,1,0.142857,0.285714,0.00000,0.00000,...,4,1.750000,1.000000,0.000000,7.0,1.000000,0.000000,1,A202000,1.00000
1,test_1,3,1,55,1.333333,0,0.500000,0.000000,0.25000,0.00000,...,3,1.333333,0.750000,0.250000,2.0,1.000000,0.000000,2,A373000,0.75000
2,test_2,2,0,8,2.500000,0,0.600000,0.000000,0.00000,0.40000,...,2,2.500000,1.000000,0.000000,5.0,1.000000,0.000000,1,A144000,1.00000
3,test_3,16,1,16,2.000000,3,0.062500,0.062500,0.03125,0.53125,...,7,4.571429,0.906250,0.093750,16.0,0.468750,0.531250,1,A112000,1.00000
4,test_4,9,5,29,2.333333,6,0.047619,0.238095,0.00000,0.00000,...,4,5.250000,0.904762,0.095238,10.5,0.428571,0.571429,3,A112000,0.52381

In [151]:
train_ft.to_csv(f"{DATA_PATH}train_tmp.csv",index=False)
test_ft.to_csv(f"{DATA_PATH}test_tmp.csv",index=False)

## 브랜드코드를 이용한 특성생성

In [152]:
train_ft = pd.read_csv(f"{DATA_PATH}train_tmp.csv")
test_ft = pd.read_csv(f"{DATA_PATH}test_tmp.csv")

In [153]:
# 선호브랜드코드에 대한 구매건수비율 추가
agg_list = [
    ("브랜드코드_nunique", "nunique"),
    ("선호브랜드코드", lambda x: x.mode()[0]),
    ("선호브랜드코드_구매비율", lambda x: x[x == x.mode()[0]].count() / x.count())
]

tmp = train_tr.groupby("ID")["브랜드코드"].agg(agg_list).reset_index()
train_ft = train_ft.merge(tmp, how="left", on="ID")
train_ft.head()

,ID,총방문일수,주말방문일수,구매주기,일별평균구매건수,주구매요일,월요일_구매비율,화요일_구매비율,수요일_구매비율,목요일_구매비율,...,2005년_구매비율,연도별평균구매건수,18시이전_구매비율,18시이후_구매비율,방문지점수,주구매지점,주구매지점_이용비율,브랜드코드_nunique,선호브랜드코드,선호브랜드코드_구매비율
0,train_0,11,3,23,1.818182,3,0.050000,0.100000,0.250000,0.300000,...,0.050000,10.0,0.750000,0.250000,2,A144000,0.600000,13,5452,0.250000
1,train_1,21,1,16,2.000000,3,0.047619,0.261905,0.214286,0.333333,...,0.238095,21.0,0.690476,0.309524,3,A112000,0.738095,26,5100,0.142857
2,train_2,56,11,6,2.035714,0,0.254386,0.201754,0.131579,0.131579,...,0.491228,57.0,0.850877,0.149123,2,A373000,0.912281,58,5159,0.122807
3,train_3,92,19,3,2.293478,3,0.104265,0.104265,0.161137,0.222749,...,0.431280,105.5,0.777251,0.222749,3,A144000,0.791469,99,5138,0.047393
4,train_4,27,6,11,2.296296,4,0.096774,0.112903,0.096774,0.048387,...,0.096774,31.0,0.838710,0.161290,2,A144000,0.741935,23,5100,0.274194

In [154]:
tmp = test_tr.groupby('ID')["브랜드코드"].agg(agg_list).reset_index()
test_ft = test_ft.merge(tmp, how='left',on="ID")
test_ft.head()

,ID,총방문일수,주말방문일수,구매주기,일별평균구매건수,주구매요일,월요일_구매비율,화요일_구매비율,수요일_구매비율,목요일_구매비율,...,2005년_구매비율,연도별평균구매건수,18시이전_구매비율,18시이후_구매비율,방문지점수,주구매지점,주구매지점_이용비율,브랜드코드_nunique,선호브랜드코드,선호브랜드코드_구매비율
0,test_0,5,3,32,1.400000,1,0.142857,0.285714,0.00000,0.00000,...,0.000000,7.0,1.000000,0.000000,1,A202000,1.00000,5,5100,0.428571
1,test_1,3,1,55,1.333333,0,0.500000,0.000000,0.25000,0.00000,...,0.250000,2.0,1.000000,0.000000,2,A373000,0.75000,4,5149,0.250000
2,test_2,2,0,8,2.500000,0,0.600000,0.000000,0.00000,0.40000,...,0.000000,5.0,1.000000,0.000000,1,A144000,1.00000,5,5111,0.200000
3,test_3,16,1,16,2.000000,3,0.062500,0.062500,0.03125,0.53125,...,0.093750,16.0,0.468750,0.531250,1,A112000,1.00000,19,5111,0.156250
4,test_4,9,5,29,2.333333,6,0.047619,0.238095,0.00000,0.00000,...,0.095238,10.5,0.428571,0.571429,3,A112000,0.52381,13,5204,0.190476

In [155]:
train_ft.to_csv(f"{DATA_PATH}train_tmp.csv",index=False)
test_ft.to_csv(f"{DATA_PATH}test_tmp.csv",index=False)

## 중분류를 이용한 특성생성

In [156]:
train_ft = pd.read_csv(f"{DATA_PATH}train_tmp.csv")
test_ft = pd.read_csv(f"{DATA_PATH}test_tmp.csv")

In [157]:
# 아동용품, 캐릭터제품, 교복 구매비율 추가, 캐릭터제품은 아동용품에 포함하기 애매해서 따로 둠
# 가전제품, 가구 구매비율 추가
# 스포츠용품, 명품, 화장품, ACC 구매비율 추가

agg_list = [
    ("중분류_nunique", "nunique"),
    ("주구매_중분류", lambda x: x.mode()[0]),
    ("중분류_가전제품_구매비율", lambda x: (x.str.contains("냉장고", regex=True)).mean()),
    ("중분류_가구_구매비율", lambda x: (x.str.contains("가구|식탁|쇼파|소파|침", regex=True)).mean()),
    ("중분류_아동제품_구매비율", lambda x: (x.str.contains("영|아동|유아|신생아", regex=True) & ~x.str.contains("수영복", regex=True)).mean()),
    ("중분류_캐릭터제품_구매비율", lambda x: (x.str.contains("캐릭터", regex=True)).mean()),
    ("중분류_교복_구매비율", lambda x: (x.str.contains("교복", regex=True)).mean()),
    ("중분류_스포츠제품_구매비율", lambda x: (x.str.contains("스포츠", regex=True)).mean()),
    ("중분류_명품_구매비율", lambda x: (x.str.contains("명품|부띠끄|부틱", regex=True)).mean()),
    ("중분류_화장품_구매비율", lambda x: (x.str.contains("화장품|향수", regex=True)).mean()),
    ("중분류_ACC_구매비율", lambda x: (x.str.contains("악세사리|액세서리|패션|시계|ACC", regex=True)).mean()),
]

tmp = train_tr.groupby("ID")["중분류"].agg(agg_list).reset_index()
train_ft = train_ft.merge(tmp, how='left')
train_ft.head()

,ID,총방문일수,주말방문일수,구매주기,일별평균구매건수,주구매요일,월요일_구매비율,화요일_구매비율,수요일_구매비율,목요일_구매비율,...,주구매_중분류,중분류_가전제품_구매비율,중분류_가구_구매비율,중분류_아동제품_구매비율,중분류_캐릭터제품_구매비율,중분류_교복_구매비율,중분류_스포츠제품_구매비율,중분류_명품_구매비율,중분류_화장품_구매비율,중분류_ACC_구매비율
0,train_0,11,3,23,1.818182,3,0.050000,0.100000,0.250000,0.300000,...,골프웨어,0.000000,0.000000,0.050000,0.000000,0.0,0.000000,0.000000,0.050000,0.000000
1,train_1,21,1,16,2.000000,3,0.047619,0.261905,0.214286,0.333333,...,영캐주얼,0.000000,0.000000,0.166667,0.023810,0.0,0.047619,0.000000,0.095238,0.000000
2,train_2,56,11,6,2.035714,0,0.254386,0.201754,0.131579,0.131579,...,아웃도어,0.000000,0.008772,0.017544,0.026316,0.0,0.017544,0.157895,0.087719,0.008772
3,train_3,92,19,3,2.293478,3,0.104265,0.104265,0.161137,0.222749,...,수입종합화장품,0.004739,0.000000,0.099526,0.052133,0.0,0.042654,0.000000,0.203791,0.037915
4,train_4,27,6,11,2.296296,4,0.096774,0.112903,0.096774,0.048387,...,로얄부틱2F,0.000000,0.000000,0.064516,0.032258,0.0,0.000000,0.290323,0.080645,0.000000

In [158]:
tmp = test_tr.groupby('ID')["중분류"].agg(agg_list).reset_index()
test_ft = test_ft.merge(tmp, how='left')
test_ft.head()

,ID,총방문일수,주말방문일수,구매주기,일별평균구매건수,주구매요일,월요일_구매비율,화요일_구매비율,수요일_구매비율,목요일_구매비율,...,주구매_중분류,중분류_가전제품_구매비율,중분류_가구_구매비율,중분류_아동제품_구매비율,중분류_캐릭터제품_구매비율,중분류_교복_구매비율,중분류_스포츠제품_구매비율,중분류_명품_구매비율,중분류_화장품_구매비율,중분류_ACC_구매비율
0,test_0,5,3,32,1.400000,1,0.142857,0.285714,0.00000,0.00000,...,용기보증,0.0,0.0,0.285714,0.000000,0.0,0.00000,0.0,0.142857,0.00000
1,test_1,3,1,55,1.333333,0,0.500000,0.000000,0.25000,0.00000,...,남성구두,0.0,0.0,0.000000,0.250000,0.0,0.00000,0.0,0.250000,0.00000
2,test_2,2,0,8,2.500000,0,0.600000,0.000000,0.00000,0.40000,...,수입종합화장품,0.0,0.0,0.000000,0.200000,0.0,0.00000,0.0,0.400000,0.00000
3,test_3,16,1,16,2.000000,3,0.062500,0.062500,0.03125,0.53125,...,수입종합화장품,0.0,0.0,0.187500,0.000000,0.0,0.09375,0.0,0.250000,0.03125
4,test_4,9,5,29,2.333333,6,0.047619,0.238095,0.00000,0.00000,...,칼라드래디셔널,0.0,0.0,0.190476,0.047619,0.0,0.00000,0.0,0.047619,0.00000

In [159]:
train_ft.to_csv(f"{DATA_PATH}train_tmp.csv",index=False)
test_ft.to_csv(f"{DATA_PATH}test_tmp.csv",index=False)

## 대분류를 이용한 특성생성

In [160]:
train_ft = pd.read_csv(f"{DATA_PATH}train_tmp.csv")
test_ft = pd.read_csv(f"{DATA_PATH}test_tmp.csv")

In [ ]:
# 아동용품, 사치품, 가정용품 구매비율 추가
agg_list = [
    ("대분류_nunique", "nunique"),
    ("주구매_대분류", lambda x: x.mode()[0]),
    ("대분류_가정용품_구매비율", lambda x: (x.str.contains("가정용품", regex=True)).mean()),
    ("대분류_아동제품_구매비율", lambda x: (x.str.contains("영|아동", regex=True)).mean()),
    ("대분류_사치품_구매비율", lambda x: (x.str.contains("로얄|명품", regex=True)).mean()),
]

tmp = train_tr.groupby("ID")["대분류"].agg(agg_list).reset_index()
train_ft = train_ft.merge(tmp, how='left')
train_ft.head()

,ID,총방문일수,주말방문일수,구매주기,일별평균구매건수,주구매요일,월요일_구매비율,화요일_구매비율,수요일_구매비율,목요일_구매비율,...,중분류_교복_구매비율,중분류_스포츠제품_구매비율,중분류_명품_구매비율,중분류_화장품_구매비율,중분류_ACC_구매비율,대분류_nunique,주구매_대분류,대분류_가정용품_구매비율,대분류_아동제품_구매비율,대분류_사치품_구매비율
0,train_0,11,3,23,1.818182,3,0.050000,0.100000,0.250000,0.300000,...,0.0,0.000000,0.000000,0.050000,0.000000,9,남성정장스포츠,0.200000,0.100000,0.000000
1,train_1,21,1,16,2.000000,3,0.047619,0.261905,0.214286,0.333333,...,0.0,0.047619,0.000000,0.095238,0.000000,12,영플라자,0.000000,0.380952,0.047619
2,train_2,56,11,6,2.035714,0,0.254386,0.201754,0.131579,0.131579,...,0.0,0.017544,0.157895,0.087719,0.008772,14,명품잡화,0.026316,0.157895,0.298246
3,train_3,92,19,3,2.293478,3,0.104265,0.104265,0.161137,0.222749,...,0.0,0.042654,0.000000,0.203791,0.037915,16,케주얼_구두_아동,0.033175,0.312796,0.018957
4,train_4,27,6,11,2.296296,4,0.096774,0.112903,0.096774,0.048387,...,0.0,0.000000,0.290323,0.080645,0.000000,8,명품잡화,0.000000,0.129032,0.403226

In [162]:
tmp = test_tr.groupby('ID')["대분류"].agg(agg_list).reset_index()
test_ft = test_ft.merge(tmp, how='left')
test_ft.head()

,ID,총방문일수,주말방문일수,구매주기,일별평균구매건수,주구매요일,월요일_구매비율,화요일_구매비율,수요일_구매비율,목요일_구매비율,...,중분류_교복_구매비율,중분류_스포츠제품_구매비율,중분류_명품_구매비율,중분류_화장품_구매비율,중분류_ACC_구매비율,대분류_nunique,주구매_대분류,대분류_가정용품_구매비율,대분류_아동제품_구매비율,대분류_사치품_구매비율
0,test_0,5,3,32,1.400000,1,0.142857,0.285714,0.00000,0.00000,...,0.0,0.00000,0.0,0.142857,0.00000,5,공산품,0.00000,0.285714,0.0
1,test_1,3,1,55,1.333333,0,0.500000,0.000000,0.25000,0.00000,...,0.0,0.00000,0.0,0.250000,0.00000,3,명품잡화,0.00000,0.000000,0.5
2,test_2,2,0,8,2.500000,0,0.600000,0.000000,0.00000,0.40000,...,0.0,0.00000,0.0,0.400000,0.00000,3,잡화파트,0.00000,0.400000,0.0
3,test_3,16,1,16,2.000000,3,0.062500,0.062500,0.03125,0.53125,...,0.0,0.09375,0.0,0.250000,0.03125,5,영플라자,0.03125,0.531250,0.0
4,test_4,9,5,29,2.333333,6,0.047619,0.238095,0.00000,0.00000,...,0.0,0.00000,0.0,0.047619,0.00000,6,여성캐주얼,0.00000,0.285714,0.0

In [163]:
train_ft.to_csv(f"{DATA_PATH}train_tmp.csv",index=False)
test_ft.to_csv(f"{DATA_PATH}test_tmp.csv",index=False)

## 구매가격을 이용한 특성생성

In [164]:
train_ft = pd.read_csv(f"{DATA_PATH}train_tmp.csv")
test_ft = pd.read_csv(f"{DATA_PATH}test_tmp.csv")

In [165]:
# 총구매액 -> 총구매금액
# 총사용금액 추가(총구매액 - 총환불금액)
# 구매건수, 평균구매금액, 최대구매금액에 조건추가
# 첨도, 왜도 추가
# 고액구매건수 추가(상위사분위수 기준)

high_purchase_threshold = (
    train_tr["구매가격"].quantile(0.75) - train_tr["구매가격"].quantile(0.25)
) * 1.5 + train_tr["구매가격"].quantile(
    0.75
)  # Q3 + IQR * 1.5

agg_list = [
    ("총구매금액", lambda x: x[x > 0].sum()),
    ("총사용금액", "sum"),
    ("구매건수", lambda x: x[x > 0].count()),
    ("평균구매금액", lambda x: x[x > 0].mean()),
    ("구매금액_median", lambda x: x[x > 0].median()),
    ("최대구매금액", lambda x: x[x > 0].max()),
    ("최소구매금액", lambda x: x[x > 0].min()),
    ("총환불금액", lambda x: x[x < 0].sum()),
    ("환불건수", lambda x: (x < 0).sum()),
    ("구매금액표준편차", lambda x: x[x > 0].std()),
    ("구매금액_skew", lambda x: x.skew()),
    ("구매금액_kurtosis", lambda x: x.kurtosis()),
    ("고액구매건수", lambda x: ((x > high_purchase_threshold) & (x > 0)).sum() - ((x < 0) & (x.abs() > high_purchase_threshold)).sum()),
]

tmp = train_tr.groupby("ID")["구매가격"].agg(agg_list).reset_index()
train_ft = train_ft.merge(tmp, how="left")
train_ft.head()

,ID,총방문일수,주말방문일수,구매주기,일별평균구매건수,주구매요일,월요일_구매비율,화요일_구매비율,수요일_구매비율,목요일_구매비율,...,평균구매금액,구매금액_median,최대구매금액,최소구매금액,총환불금액,환불건수,구매금액표준편차,구매금액_skew,구매금액_kurtosis,고액구매건수
0,train_0,11,3,23,1.818182,3,0.050000,0.100000,0.250000,0.300000,...,395188.235294,205000.0,1236000,20000,-2517000,3,403660.245259,-0.656466,1.383256,5
1,train_1,21,1,16,2.000000,3,0.047619,0.261905,0.214286,0.333333,...,120072.023810,90450.0,698000,5600,0,0,126592.626144,2.651821,9.771083,6
2,train_2,56,11,6,2.035714,0,0.254386,0.201754,0.131579,0.131579,...,216896.130841,95000.0,2770000,4400,-1072500,7,406609.265932,4.375304,22.850583,17
3,train_3,92,19,3,2.293478,3,0.104265,0.104265,0.161137,0.222749,...,195241.431472,122000.0,1492000,10000,-2867800,14,236976.860907,1.794671,6.928180,40
4,train_4,27,6,11,2.296296,4,0.096774,0.112903,0.096774,0.048387,...,223331.959184,59000.0,1204000,7640,-6954400,13,308503.944915,-0.260189,1.644545,5

In [166]:
tmp = test_tr.groupby('ID')["구매가격"].agg(agg_list).reset_index()
test_ft = test_ft.merge(tmp, how='left')
test_ft.head()

,ID,총방문일수,주말방문일수,구매주기,일별평균구매건수,주구매요일,월요일_구매비율,화요일_구매비율,수요일_구매비율,목요일_구매비율,...,평균구매금액,구매금액_median,최대구매금액,최소구매금액,총환불금액,환불건수,구매금액표준편차,구매금액_skew,구매금액_kurtosis,고액구매건수
0,test_0,5,3,32,1.400000,1,0.142857,0.285714,0.00000,0.00000,...,61368.428571,58536.0,110000,26643,0,0,32293.148313,0.702551,-1.103688,0
1,test_1,3,1,55,1.333333,0,0.500000,0.000000,0.25000,0.00000,...,72650.000000,67500.0,118000,37600,0,0,33658.431336,0.856705,1.438447,0
2,test_2,2,0,8,2.500000,0,0.600000,0.000000,0.00000,0.40000,...,121400.000000,95000.0,326000,38000,0,0,117233.954126,1.969409,4.075918,1
3,test_3,16,1,16,2.000000,3,0.062500,0.062500,0.03125,0.53125,...,121347.857143,79550.0,403000,7040,-1092000,4,122556.774972,-0.614857,1.664629,1
4,test_4,9,5,29,2.333333,6,0.047619,0.238095,0.00000,0.00000,...,107827.222222,84000.0,376000,16200,-372200,3,94997.232393,0.182857,1.628110,2

In [167]:
train_ft.to_csv(f"{DATA_PATH}train_tmp.csv",index=False)
test_ft.to_csv(f"{DATA_PATH}test_tmp.csv",index=False)

## pivot_table을 이용한 특성 생성

In [168]:
train_ft = pd.read_csv(f"{DATA_PATH}train_tmp.csv")
test_ft = pd.read_csv(f"{DATA_PATH}test_tmp.csv")

### ID, 지점코드별 구매횟수

In [169]:
# 환불한 구매내역은 삭제하고 진행

purchase_data = train_tr[train_tr["구매가격"] > 0]
refund_data = train_tr[train_tr["구매가격"] < 0]

matched_purchases = purchase_data.merge(
    refund_data.assign(
        구매가격=refund_data["구매가격"].abs()
    ),
    on=["ID", "지점코드", "구매가격"],
    how="left",
    indicator=True,
)

filtered_purchases = matched_purchases[matched_purchases["_merge"] == "left_only"].drop(
    columns=["_merge"]
)

train_tmp = pd.pivot_table(
    filtered_purchases,
    index="ID",
    columns="지점코드",
    values="구매가격",
    aggfunc="count",
    fill_value=0,
).add_prefix("pivot_지점코드_")

train_tmp

지점코드,pivot_지점코드_A112000,pivot_지점코드_A144000,pivot_지점코드_A202000,pivot_지점코드_A373000
ID,,,,
train_0,8,5,0,0
train_1,31,2,0,9
train_10,0,117,10,0
train_100,4,9,0,6
train_1000,0,2,0,12
...,...,...,...,...
train_9995,1,0,0,0
train_9996,1,22,0,0
train_9997,13,0,0,0
train_9998,24,0,0,5
train_9999,28,0,0,0

In [170]:
purchase_data = test_tr[test_tr["구매가격"] > 0]
refund_data = test_tr[test_tr["구매가격"] < 0]

matched_purchases = purchase_data.merge(
    refund_data.assign(
        구매가격=refund_data["구매가격"].abs()
    ),
    on=["ID", "지점코드", "구매가격"],
    how="left",
    indicator=True,
)

filtered_purchases = matched_purchases[matched_purchases["_merge"] == "left_only"].drop(
    columns=["_merge"]
)

test_tmp = pd.pivot_table(
    filtered_purchases,
    index="ID",
    columns="지점코드",
    values="구매가격",
    aggfunc="count",
    fill_value=0,
).add_prefix("pivot_지점코드_")

test_tmp

지점코드,pivot_지점코드_A112000,pivot_지점코드_A144000,pivot_지점코드_A202000,pivot_지점코드_A373000
ID,,,,
test_0,0,0,7,0
test_1,1,0,0,3
test_10,26,0,0,0
test_100,103,3,0,5
test_1000,0,0,0,3
...,...,...,...,...
test_9995,16,0,0,0
test_9996,0,0,44,0
test_9997,0,0,0,21
test_9998,0,0,62,0
test_9999,39,0,0,6

### ID, 중분류별 구매횟수

In [171]:
train_tmp = train_tmp.merge(
    pd.pivot_table(
        train_tr,
        index="ID",
        columns="중분류",
        values="구매가격",
        aggfunc="count",
        fill_value=0,
    )
    .add_prefix("pivot_중분류_")
    .reset_index(),
    on="ID",
    how="left",
)

train_tmp

,ID,pivot_지점코드_A112000,pivot_지점코드_A144000,pivot_지점코드_A202000,pivot_지점코드_A373000,pivot_중분류_DC캐주얼,pivot_중분류_GBR 지원,pivot_중분류_L_B침구,pivot_중분류_NB제화,pivot_중분류_NB핸드백,...,pivot_중분류_행사슈즈,pivot_중분류_행사핸드백,pivot_중분류_향수,pivot_중분류_헤어ACC,pivot_중분류_헤어악세사리,pivot_중분류_헤어액세사리,pivot_중분류_홈데코,pivot_중분류_화장잡화,pivot_중분류_화장품,pivot_중분류_훼미닌부틱
0,train_0,8,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,train_1,31,2,0,9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,train_10,0,117,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,train_100,4,9,0,6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,train_1000,0,2,0,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14933,train_9995,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14934,train_9996,1,22,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14935,train_9997,13,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14936,train_9998,24,0,0,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14937,train_9999,28,0,0,0,0,0,2,1,0,...,0,0,0,0,0,0,1,0,0,0

In [172]:
test_tmp = test_tmp.merge(
    pd.pivot_table(
        test_tr,
        index="ID",
        columns="중분류",
        values="구매가격",
        aggfunc="count",
        fill_value=0,
    )
    .add_prefix("pivot_중분류_")
    .reset_index(),
    on="ID",
    how="left",
)

test_tmp

,ID,pivot_지점코드_A112000,pivot_지점코드_A144000,pivot_지점코드_A202000,pivot_지점코드_A373000,pivot_중분류_DC캐주얼,pivot_중분류_GBR 지원,pivot_중분류_L_B침구,pivot_중분류_NB제화,pivot_중분류_NB핸드백,...,pivot_중분류_행사슈즈,pivot_중분류_행사핸드백,pivot_중분류_향수,pivot_중분류_헤어ACC,pivot_중분류_헤어악세사리,pivot_중분류_헤어액세사리,pivot_중분류_홈데코,pivot_중분류_화장잡화,pivot_중분류_화장품,pivot_중분류_훼미닌부틱
0,test_0,0,0,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,test_1,1,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,test_10,26,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
3,test_100,103,3,0,5,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
4,test_1000,0,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12217,test_9995,16,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
12218,test_9996,0,0,44,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
12219,test_9997,0,0,0,21,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
12220,test_9998,0,0,62,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12221,test_9999,39,0,0,6,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0

### ID, 대분류별 구매횟수

In [173]:
train_tmp = train_tmp.merge(
    pd.pivot_table(
        train_tr,
        index="ID",
        columns="대분류",
        values="구매가격",
        aggfunc="count",
        fill_value=0,
    )
    .add_prefix("pivot_대분류_")
    .reset_index(),
    on="ID",
    how="left",
)

train_tmp

,ID,pivot_지점코드_A112000,pivot_지점코드_A144000,pivot_지점코드_A202000,pivot_지점코드_A373000,pivot_중분류_DC캐주얼,pivot_중분류_GBR 지원,pivot_중분류_L_B침구,pivot_중분류_NB제화,pivot_중분류_NB핸드백,...,pivot_대분류_여성캐주얼,pivot_대분류_여성캐쥬얼,pivot_대분류_영라이브,pivot_대분류_영어덜트캐쥬얼,pivot_대분류_영캐릭터,pivot_대분류_영플라자,pivot_대분류_잡화,pivot_대분류_잡화파트,pivot_대분류_케주얼_구두_아동,pivot_대분류_패션잡화
0,train_0,8,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,3
1,train_1,31,2,0,9,0,0,0,0,0,...,6,0,0,0,4,11,0,0,1,8
2,train_10,0,117,10,0,0,0,0,0,0,...,0,0,0,0,0,0,2,21,5,0
3,train_100,4,9,0,6,0,0,0,0,0,...,0,0,0,0,0,3,0,3,6,1
4,train_1000,0,2,0,12,0,0,0,0,0,...,12,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14933,train_9995,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14934,train_9996,1,22,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,2,12,0
14935,train_9997,13,0,0,0,0,0,0,0,0,...,2,0,0,0,2,15,0,0,0,3
14936,train_9998,24,0,0,5,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,9
14937,train_9999,28,0,0,0,0,0,2,1,0,...,3,0,0,0,1,3,0,0,0,7

In [174]:
test_tmp = test_tmp.merge(
    pd.pivot_table(
        test_tr,
        index="ID",
        columns="대분류",
        values="구매가격",
        aggfunc="count",
        fill_value=0,
    )
    .add_prefix("pivot_대분류_")
    .reset_index(),
    on="ID",
    how="left",
)

test_tmp

,ID,pivot_지점코드_A112000,pivot_지점코드_A144000,pivot_지점코드_A202000,pivot_지점코드_A373000,pivot_중분류_DC캐주얼,pivot_중분류_GBR 지원,pivot_중분류_L_B침구,pivot_중분류_NB제화,pivot_중분류_NB핸드백,...,pivot_대분류_여성캐주얼,pivot_대분류_여성캐쥬얼,pivot_대분류_영라이브,pivot_대분류_영어덜트캐쥬얼,pivot_대분류_영캐릭터,pivot_대분류_영플라자,pivot_대분류_잡화,pivot_대분류_잡화파트,pivot_대분류_케주얼_구두_아동,pivot_대분류_패션잡화
0,test_0,0,0,7,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1,test_1,1,0,0,3,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,test_10,26,0,0,0,0,0,0,0,2,...,0,0,0,0,4,3,0,0,0,13
3,test_100,103,3,0,5,0,0,0,0,1,...,5,0,0,0,1,1,0,2,0,16
4,test_1000,0,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12217,test_9995,16,0,0,0,0,0,0,0,0,...,4,0,0,0,7,5,0,0,0,2
12218,test_9996,0,0,44,0,0,0,0,0,0,...,0,2,6,6,0,0,4,0,0,0
12219,test_9997,0,0,0,21,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
12220,test_9998,0,0,62,0,0,0,0,0,0,...,0,6,10,1,0,0,8,0,0,0
12221,test_9999,39,0,0,6,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,2

### ID, 브랜드코드별 구매횟수

In [175]:
train_tmp = train_tmp.merge(
    pd.pivot_table(
        train_tr,
        index="ID",
        columns="브랜드코드",
        values="구매가격",
        aggfunc="count",
        fill_value=0,
    )
    .add_prefix("pivot_브랜드코드_")
    .reset_index(),
    on="ID",
    how='left'    
)

train_tmp

,ID,pivot_지점코드_A112000,pivot_지점코드_A144000,pivot_지점코드_A202000,pivot_지점코드_A373000,pivot_중분류_DC캐주얼,pivot_중분류_GBR 지원,pivot_중분류_L_B침구,pivot_중분류_NB제화,pivot_중분류_NB핸드백,...,pivot_브랜드코드_6985,pivot_브랜드코드_6986,pivot_브랜드코드_6987,pivot_브랜드코드_6988,pivot_브랜드코드_6989,pivot_브랜드코드_6990,pivot_브랜드코드_6992,pivot_브랜드코드_6994,pivot_브랜드코드_6995,pivot_브랜드코드_6996
0,train_0,8,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,train_1,31,2,0,9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,train_10,0,117,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,train_100,4,9,0,6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,train_1000,0,2,0,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14933,train_9995,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14934,train_9996,1,22,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14935,train_9997,13,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14936,train_9998,24,0,0,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14937,train_9999,28,0,0,0,0,0,2,1,0,...,0,0,0,0,0,0,0,0,0,0

In [176]:
test_tmp = test_tmp.merge(
    pd.pivot_table(
        test_tr,
        index="ID",
        columns="브랜드코드",
        values="구매가격",
        aggfunc="count",
        fill_value=0,
    )
    .add_prefix("pivot_브랜드코드_")
    .reset_index(),
    on="ID",
    how='left'    
)

test_tmp

,ID,pivot_지점코드_A112000,pivot_지점코드_A144000,pivot_지점코드_A202000,pivot_지점코드_A373000,pivot_중분류_DC캐주얼,pivot_중분류_GBR 지원,pivot_중분류_L_B침구,pivot_중분류_NB제화,pivot_중분류_NB핸드백,...,pivot_브랜드코드_6985,pivot_브랜드코드_6986,pivot_브랜드코드_6987,pivot_브랜드코드_6988,pivot_브랜드코드_6990,pivot_브랜드코드_6992,pivot_브랜드코드_6994,pivot_브랜드코드_6995,pivot_브랜드코드_6996,pivot_브랜드코드_6998
0,test_0,0,0,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,test_1,1,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,test_10,26,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
3,test_100,103,3,0,5,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,test_1000,0,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12217,test_9995,16,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12218,test_9996,0,0,44,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12219,test_9997,0,0,0,21,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12220,test_9998,0,0,62,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12221,test_9999,39,0,0,6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 최종 pivot table merge

In [177]:
train_ft = train_ft.merge(train_tmp, on="ID", how="left")

for col in train_tmp.columns:
    if col not in test_tmp.columns:
        test_tmp[col] = 0

test_tmp = test_tmp[train_tmp.columns]
test_ft = test_ft.merge(test_tmp, how="left", on="ID")

In [178]:
train_ft.to_csv(f"{DATA_PATH}train_tmp.csv",index=False)
test_ft.to_csv(f"{DATA_PATH}test_tmp.csv",index=False)

## 추가 피처 생성

In [179]:
train_ft = pd.read_csv(f"{DATA_PATH}train_tmp.csv")
test_ft = pd.read_csv(f"{DATA_PATH}test_tmp.csv")

# 항상 확인하기
- 학습데이터와 테스트 데이터의 피처개수는 동일해야 함

In [180]:
train_ft.shape, test_ft.shape

((14940, 2232), (12225, 2232))

# 추출한 피처 저장하기

In [181]:
train_ft.to_csv(f"{DATA_PATH}train_common.csv",index=False)
test_ft.to_csv(f"{DATA_PATH}test_common.csv",index=False)