# 팀원들의 예측 파일을 평균 내는 등과 같이 앙상블을 할 경우
- 팀원들에게 csv 파일 만들때 1에 대한 확률로 예측할 것을 요구해야 함

In [1]:
DATA_PATH = "data/"

In [2]:
import pandas as pd
import numpy as np

kwon = pd.read_csv(f"{DATA_PATH}submit_권지혁.csv")
# moon = pd.read_csv(f"{DATA_PATH}submit_문준웅.csv")
park = pd.read_csv(f"{DATA_PATH}submit_박현철.csv")
lee = pd.read_csv(f"{DATA_PATH}submit_이지은.csv")

In [3]:
pred = np.mean(
    [
        kwon["target"].to_numpy(),
        # moon["target"].to_numpy(),
        park["target"].to_numpy(),
        lee["target"].to_numpy(),
    ],
    axis=0,
)
pred.shape

(12225,)

In [4]:
pred = (pred >= 0.5).astype(int)
pred

array([0, 0, 0, ..., 0, 0, 0])

In [5]:
submit = kwon[["ID"]]
submit["target"] = pred
submit

               ID  target
0          test_0       0
1          test_1       0
2          test_2       0
3          test_3       1
4          test_4       1
...           ...     ...
12220  test_12220       1
12221  test_12221       0
12222  test_12222       0
12223  test_12223       0
12224  test_12224       0

[12225 rows x 2 columns]

In [6]:
submit.to_csv(f"{DATA_PATH}1조.csv",index=False)